@tailwind base;
@tailwind components;
@tailwind utilities;

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box {
  background-color: white;
  width: 70%;
  height: 70%;
  display: flex;
  border-radius: 10px;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.descriptionContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
  padding: 20px;
}
