@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 1000px) {
  .pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .plan {
    background-color: gray;
    margin-bottom: 17px;
    margin-left: 5px;
    border-radius: 5px;
    min-width: 100px;
    font-size: small;
    text-align: center;
    cursor: pointer;
  }

  .plan:hover {
    background-color: darkgray;
  }

  .ppt {
    height: 269px;
    width: 500px;
  }

  .ghIcon {
    color: gray;
  }
  .ghIcon:hover {
    color: darkgray;
  }

  .werewolfGame {
    height: 300px;
    width: 500px;
  }
}

@media only screen and (min-width: 1000px) {
  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .plan {
    background-color: gray;
    margin-bottom: 17px;
    margin-left: 5px;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
  }

  .plan:hover {
    background-color: darkgray;
  }

  .ppt {
    height: 469px;
    width: 1000px;
  }

  .ghIcon {
    color: gray;
  }
  .ghIcon:hover {
    color: darkgray;
  }

  .werewolfGame {
    height: 400px;
    width: 660px;
  }
}

@media only screen and (min-width: 1800px) {
  .pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .plan {
    background-color: gray;
    margin-bottom: 17px;
    margin-left: 5px;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
  }

  .plan:hover {
    background-color: darkgray;
  }

  .ppt {
    height: 469px;
    width: 1000px;
  }

  .ghIcon {
    color: gray;
  }
  .ghIcon:hover {
    color: darkgray;
  }

  .werewolfGame {
    height: 600px;
    width: 1000px;
  }
}
