@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 400px) {
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .gameBox {
    background-color: white;
    width: 800px;
    height: 400px;
    display: flex;
    border-radius: 10px;
  }
  .gameSelection {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 3rem;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }

  .gamePick {
    background-color: gray;
    border-radius: 5px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .gameContainer {
    background-color: #35654d;
    min-height: 75%;
    width: 70%;
    text-align: center;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .dealerContainer {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 100%;
    flex-grow: 1;
    font-size: 15px;
  }

  .playerContainer {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 100%;
    flex-grow: 1;
    font-size: 15px;
  }

  .card {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
  }

  .bjButton {
    background-color: gray;
    border-radius: 5px;
    min-width: 50px;
  }
  .bjButton:hover {
    background-color: darkgray;
    border-radius: 5px;
    min-width: 50px;
  }
  .betButton {
    border-radius: 5px;
    outline-style: solid;
    outline-width: 1px;
    margin-left: 5px;
    min-width: 30px;
  }
  .♠️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .♣️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .♥️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
    color: red;
  }

  .♦️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
    color: red;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
  }

  .betContainer {
    margin-left: 10px;
  }

  .intro {
    position: absolute;
    bottom: 20%;
    text-align: center;
    font-size: 10px;
    color: transparent;
  }
}
/* =============================================================================== */
@media only screen and (max-width: 950px) {
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .gameBox {
    background-color: white;
    width: 800px;
    height: 400px;
    display: flex;
    border-radius: 10px;
  }
  .intro {
    position: absolute;
    bottom: 13%;
    text-align: center;
  }
  .gameSelection {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 3rem;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }

  .gamePick {
    background-color: gray;
    border-radius: 5px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .gameContainer {
    background-color: #35654d;
    min-height: 75%;
    width: 70%;
    text-align: center;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .dealerContainer {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 100%;
    flex-grow: 1;
    font-size: 15px;
  }

  .playerContainer {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 100%;
    flex-grow: 1;
    font-size: 15px;
  }

  .card {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
  }

  .bjButton {
    background-color: gray;
    border-radius: 5px;
    min-width: 50px;
  }
  .bjButton:hover {
    background-color: darkgray;
    border-radius: 5px;
    min-width: 50px;
  }
  .betButton {
    border-radius: 5px;
    outline-style: solid;
    outline-width: 1px;
    margin-left: 5px;
    min-width: 30px;
  }
  .♠️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .♣️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .♥️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
    color: red;
  }

  .♦️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
    color: red;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
  }

  .betContainer {
    margin-left: 10px;
  }
}
/* =============================================================================== */
@media only screen and (min-width: 950px) {
  .game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .gameBox {
    background-color: white;
    width: 800px;
    height: 450px;
    display: flex;
    border-radius: 10px;
  }

  .gameSelection {
    background-color: white;
    color: black;
    position: fixed;
    right: 2rem;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
  }

  .gamePick {
    background-color: gray;
    border-radius: 5px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
  }
  .intro {
    position: absolute;
    top: 13%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .gameContainer {
    background-color: #35654d;
    min-height: 65%;
    width: 60%;
    text-align: center;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .dealerContainer {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 100%;
    flex-grow: 1;
  }

  .playerContainer {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 100%;
    flex-grow: 1;
  }

  .card {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
  }

  .bjButton {
    background-color: gray;
    border-radius: 5px;
    min-width: 50px;
  }
  .bjButton:hover {
    background-color: darkgray;
    border-radius: 5px;
    min-width: 50px;
  }
  .betButton {
    border-radius: 5px;
    outline-style: solid;
    outline-width: 1px;
    margin-left: 5px;
    min-width: 30px;
  }
  .♠️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .♣️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .♥️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
  }

  .♦️ {
    outline: solid;
    outline-color: black;
    outline-width: 0.5px;
    background-color: white;
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
  }

  .betContainer {
    margin-left: 10px;
  }
}
